html {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction:column;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage {
width: 30px;
height: 30px;
background: red;
border-radius: 50%;
}

#nav a.toplink {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #70757A;
}

.google-image {
    margin-top: 300px;
    text-align: center;
}

.search-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.search-bar-content {
    padding: 10px;
    width: 450px;
    outline: 0;
    border-radius: 20px;
    border: 1px solid #70757A;
}

.buttons {
    display:flex;
    justify-content: center;
    margin-top: 14px;
}

.button-style {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.foot {
    width: 100%;
    background-color: rgb(204, 204, 204);
    height: 40px;
    left: 0px;
    bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f2f2f2;
    border-top: 1px solid #dadce0;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #70757A;
  }